<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1013535364698-1kts40qe5h5kf7mqmkomnl2jastnl5u9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1013535364698-1kts40qe5h5kf7mqmkomnl2jastnl5u9</string>
	<key>API_KEY</key>
	<string>AIzaSyBOhOO-iyMwQasXC3ZGtzGbnohsS-fYj-8</string>
	<key>GCM_SENDER_ID</key>
	<string>1013535364698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.immence</string>
	<key>PROJECT_ID</key>
	<string>immence-tech-task</string>
	<key>STORAGE_BUCKET</key>
	<string>immence-tech-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1013535364698:ios:843706ab96e58c3c872a63</string>
</dict>
</plist>